@model WebShop.Services.Models.Catalog.AuthorDetails
@{
    ViewBag.Title = Model.Name;
}

@section styles {
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Views/Common/shopping-cart-status.js")
    @Scripts.Render("~/Scripts/Views/Common/catalog.js")
}

<div id="content-container">
    <div class="page-title">
        <h4>Books by <span class="highlight">@Model.Name</span></h4>
    </div>
    <div>
        @Html.Partial("_BookListViewPartial", Model.Books)
    </div>
</div>
