@model WebShop.ViewModels.Catalog.PageViewModel
@{
    ViewBag.Title = "Best book shop";
}

@section styles {
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Views/Common/shopping-cart-status.js")
    @Scripts.Render("~/Scripts/Views/Common/add-to-cart.js")
    @Scripts.Render("~/Scripts/Views/Common/pager.js")
    @Scripts.Render("~/Scripts/jquery.dotdotdot.js")
    @Scripts.Render("~/Scripts/Views/Common/catalog.js")
}

<div id="content-container">
    <div>
        @Html.Action("BookListViewPartial", "Catalog", new { page = Model.PageNumber })
    </div>
</div>
