@model WebShop.ViewModels.CustomerViewModel

<div class="editor">
    @Html.LabelFor(a => a.Title)
    @Html.EditorFor(a => a.Title)
    @Html.ValidationMessageFor(a => a.Title)
</div>
<div class="editor">
    @Html.LabelFor(a => a.FirstName)
    @Html.EditorFor(a => a.FirstName)
    @Html.ValidationMessageFor(a => a.FirstName)
</div>
<div class="editor">
    @Html.LabelFor(a => a.LastName)
    @Html.EditorFor(a => a.LastName)
    @Html.ValidationMessageFor(a => a.LastName)
</div>
<div class="editor">
    @Html.LabelFor(a => a.Address)
    @Html.EditorFor(a => a.Address)
    @Html.ValidationMessageFor(a => a.Address)
</div>
<div class="editor">
    @Html.LabelFor(a => a.HouseNumber)
    @Html.EditorFor(a => a.HouseNumber)
    @Html.ValidationMessageFor(a => a.HouseNumber)
</div>
<div class="editor">
    @Html.LabelFor(a => a.ZipCode)
    @Html.EditorFor(a => a.ZipCode)
    @Html.ValidationMessageFor(a => a.ZipCode)
</div>
<div class="editor">
    @Html.LabelFor(a => a.City)
    @Html.EditorFor(a => a.City)
    @Html.ValidationMessageFor(a => a.City)
</div>
<div class="editor">
    @Html.LabelFor(a => a.Email)
    @Html.EditorFor(a => a.Email)
    @Html.ValidationMessageFor(a => a.Email)
</div>