@{
    ViewBag.Title = "Best book shop";
}

@section styles {
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/themes/base/css")
}

@section scripts {
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Views/Common/shopping-cart-status.js")
    @Scripts.Render("~/Scripts/Views/Common/add-to-cart.js")
    @Scripts.Render("~/Scripts/Views/Common/pager.js")
    @Scripts.Render("~/Scripts/jquery.dotdotdot.js")
    @Scripts.Render("~/Scripts/Views/Common/catalog.js")
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>todo: Most popular books</h2>
            </hgroup>
        </div>
    </section>
}

<div id="content-container">
    @Html.Action("BookListViewPartial", "Catalog")
</div>